<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
   <f:event type="preRenderView" listener="#{login.verificarSesion('Empleado')}"></f:event>
   <link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css"/>
   <title>CargaUY</title>
   #{pncsBean.listaVehiculos()}
</h:head>
<h:body>
   <ui:include src="resources/templates/navbar.xhtml"></ui:include>
   <f:view>
      <p:card styleClass="flex justify-content-center">
         <h2 class="text-center">AGREGAR PNC</h2>
         <h:form>
            <p:growl>
               <p:autoUpdate />
            </p:growl>
            <div class="w-fit m-auto mb-4">
               <div class="field grid">
                  <h:outputLabel for="vehiculo" class="col-12 mb-2 md:col-4 md:mb-0">Vehiculo</h:outputLabel>
                  <div class="col-12 md:col-8">
                     <p:selectOneMenu id="vehiculo" value="#{pncsBean.matriculaVehiculo}" filter="true" filterMatchMode="contains">
                        <f:selectItems value="#{pncsBean.listaVehiculos}" var="veh" itemLabel="#{veh.matricula}" itemValue="#{veh.matricula}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" required="true" requiredMessage="Se requiere un vehiculo"/>
                     </p:selectOneMenu>
                  </div>
               </div>
               <div class="field grid">
                  <h:outputLabel for="fechaValidez" class="col-12 mb-2 md:col-4 md:mb-0">Fecha de Validez</h:outputLabel>
                  <div class="col-12 md:col-8">
                     <h:inputText type="date" id="fechaValidez" value="#{pncsBean.fechaValidez}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" required="true" requiredMessage="Se requiere una fecha"/>
                  </div>
               </div>
               <div class="text-right">
                  <p:commandButton value="Crear" action="#{pncsBean.addPNC()}" oncomplete="location.reload()" class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700"/>
               </div>
            </div>
         </h:form>
      </p:card>
   </f:view>
</h:body>

</html>
