<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
   <link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css"/>
    <f:event type="preRenderView" listener="#{login.verificarSesion('Empleado')}"></f:event>

    <title>CargaUY</title>
    #{vehiculosBean.initVehiculosVED()}
    #{guiabean.listarGEP()}
    #{usuariosBean.initLista()}
</h:head>
<h:body>
    <ui:include src="resources/templates/navbar.xhtml"></ui:include>
    <f:view>
        <p:card styleClass="flex justify-content-center">
            <h2 class="text-center">Alta de Viaje</h2>
            <h:form>
                <p:growl>
                    <p:autoUpdate />
                </p:growl>
                <div class="w-fit m-auto mb-4">
                    <div class="field grid">
                        <h:outputLabel for="nombre" class="col-12 mb-2 md:col-4 md:mb-0">Nombre</h:outputLabel>
                        <div class="col-12 md:col-8">
                            <h:inputText id="nombre" value="#{viajesBean.nombre}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" required="true" requiredMessage="Se requiere una nombre"/>
                        </div>
                    </div>
                    <div class="field grid">
                        <h:outputLabel for="chofer" class="col-12 mb-2 md:col-4 md:mb-0">Chofer</h:outputLabel>
                        <div class="col-12 md:col-8">
                            <p:selectOneMenu id="chofer" value="#{viajesBean.idChof}" filter="true" filterMatchMode="contains">
                                <f:selectItems value="#{usuariosBean.list}" var="us" itemLabel="#{us.id}, #{us.apellido}, #{us.ci}" itemValue="#{us.id}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" required="true" requiredMessage="Chofer requerido"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="field grid">
                        <h:outputLabel for="vehiculo" class="col-12 mb-2 md:col-4 md:mb-0">Vehiculo</h:outputLabel>
                        <div class="col-12 md:col-8">
                            <p:selectOneMenu id="vehiculo" value="#{viajesBean.matricula}" filter="true" filterMatchMode="contains">
                                <f:selectItems value="#{vehiculosBean.list}" var="ve" itemLabel="#{ve.matricula},#{ve.capacidadCarga},#{ve.marca}" itemValue="#{ve.matricula}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" required="true" requiredMessage="Guia requerida"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="field grid">
                        <h:outputLabel for="guia" class="col-12 mb-2 md:col-4 md:mb-0">Guia</h:outputLabel>
                        <div class="col-12 md:col-8">
                            <p:selectOneMenu id="guia" value="#{viajesBean.idG}" filter="true" filterMatchMode="contains">
                                <f:selectItems value="#{guiabean.guiasDTOS}" var="g" itemLabel="#{g.codigo}, #{g.origen}, #{g.destino}, #{g.fechaInicio} " itemValue="#{g.idGuia}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" required="true" requiredMessage="Guia requerida"/>
                            </p:selectOneMenu>
                        </div>
                    </div>

                    <div class="text-right">
                        <p:commandButton value="Crear" action="#{viajesBean.altaViaje()}" class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700"/>
                    </div>
                </div>
            </h:form>
        </p:card>
    </f:view>
</h:body>
</html>
