<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jsp="http://java.sun.com/JSP/Page">
<h:head>
   #{empresasBean.soloE()}
   <link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css"/>
   <f:event type="preRenderView" listener="#{login.verificarSesion('Empleado')}"></f:event>
   <title>CargaUY</title>
</h:head>
<h:body>
   <ui:include src="resources/templates/navbar.xhtml"></ui:include>
   <f:view>
      <p:card styleClass="flex justify-content-center">
         <h2 class="text-center">GESTION DE EMPRESA</h2>
         <h:form id="form">
            <p:dataTable id="table"
                         var="empresa"
                         value="#{empresasBean.list}">
               <p:column headerText="Nro">
                  <h:outputText value="#{empresa.nroEmpresa}" />
               </p:column>
               <p:column headerText="Razon Social">
                  <h:outputText value="#{empresa.razonSocial}" />
               </p:column>
               <p:column headerText="Nombre Publico">
                  <h:outputText value="#{empresa.nombrePublico}" />
               </p:column>
               <p:column headerText="Direccion">
                  <h:outputText value="#{empresa.direccion}" />
               </p:column>
               <p:column exportable="false">
                  <p:commandButton styleClass="rounded-button ui-button-success"
                                   icon="pi pi-pencil"
                                   process="@this"
                                   action="#{empresasBean.setNroEmpresa(empresa.nroEmpresa)}"
                                   onclick="PF('modificarEmpresa').show();"
                  />
                  <p:dialog header="Modificar" widgetVar="modificarEmpresa" modal="true" resizable="false">
                     <div class="w-fit m-auto mb-4">
                        <div class="field grid">
                           <h:outputLabel for="razonsocial" class="col-12 mb-2 md:col-4 md:mb-0">Razon Social</h:outputLabel>
                           <span class="ui-float-label">
                               <p:inputText id="razonsocial" value="#{empresasBean.razonSocial}" defaultValue="#{empresa.razonSocial}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                               <p:outputLabel for="@previous" value="#{empresa.razonSocial}"/>
                           </span>
<!--                           <div class="col-12 md:col-8">
                              <h:inputText id="razonsocial" value="#{empresasBean.razonSocial}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                           </div>-->
                        </div>
                        <div class="field grid">
                           <h:outputLabel for="nombrepublico" class="col-12 mb-2 md:col-4 md:mb-0">Nombre Publico</h:outputLabel>
                              <span class="ui-float-label">
                                  <p:inputText id="nombrepublico" value="#{empresasBean.nombrePublico}" defaultValue="#{empresa.nombrePublico}"/>
                                  <p:outputLabel for="@previous" value="#{empresa.nombrePublico}"/>
                              </span>
                           <!--<div class="col-12 md:col-8">
                              <h:inputText id="nombrepublico" value="#{empresasBean.nombrePublico}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                           </div>-->
                        </div>
                        <div class="field grid">
                           <h:outputLabel for="direccion" class="col-12 mb-2 md:col-4 md:mb-0">Direccion</h:outputLabel>
                           <span class="ui-float-label">
                               <p:inputText id="direccion" value="#{empresasBean.direccion}" defaultValue="#{empresa.direccion}"/>
                               <p:outputLabel for="@previous" value="#{empresa.direccion}"/>
                           </span>
                           <!--<div class="col-12 md:col-8">
                               <h:inputText id="direccion" value="#{empresasBean.direccion}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                            </div>-->
                        </div>
                        <div class="text-right">
                           <p:commandButton value="Confirmar" action="#{empresasBean.modificarEmpresa()}" oncomplete="PF('modificarEmpresa').hide; location.reload();" class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700"/>
                        </div>
                     </div>
                  </p:dialog>
               </p:column>
            </p:dataTable>
         </h:form>
      </p:card>
   </f:view>
</h:body>
</html>
