<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jsp="http://java.sun.com/JSP/Page">
<h:head>
   <f:event type="preRenderView" listener="#{login.verificarSesion('Funcionario')}"></f:event>
   #{empresasBean.initLista()}
   #{usuariosBean.initListaG()}
   <link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css"/>
   <title>CargaUY</title>
</h:head>
<h:body>
   <ui:include src="resources/templates/navbar.xhtml"></ui:include>
   <f:view>
      <p:card styleClass="flex justify-content-center">
         <h2 class="text-center">GESTIÓN DE LAS EMPRESAS DE TRANSPORTE</h2>
         <h:form id="form">
            <p:dataTable id="table"
                         var="empresa"
                         value="#{empresasBean.list}">
               <p:column headerText="Nro">
                  <h:outputText value="#{empresa.nroEmpresa}" />
               </p:column>
               <p:column headerText="Razon Social">
                  <h:outputText value="#{empresa.razonSocial}" />
               </p:column>
               <p:column headerText="Nombre Publico">
                  <h:outputText value="#{empresa.nombrePublico}" />
               </p:column>
               <p:column headerText="Direccion">
                  <h:outputText value="#{empresa.direccion}" />
               </p:column>
               <p:column headerText="Permisos">
                  <p:dialog header="Vehiculos" widgetVar="listaVehiculosEmpresa_#{empresa.nroEmpresa}" modal="true" resizable="false">
                     <p:dataTable paginator="true" rows="8" id="table_vehiculos" value="#{empresa.vehiculos}" var="vehiculoEmpresa" disabledSelection="true">
                        <p:column headerText="Matricula">
                           <p:outputLabel value="#{vehiculoEmpresa.matricula}"/>
                        </p:column>
                        <p:column headerText="Marca">
                           <p:outputLabel value="#{vehiculoEmpresa.marca}"/>
                        </p:column>
                        <p:column headerText="Modelo">
                           <p:outputLabel value="#{vehiculoEmpresa.modelo}"/>
                        </p:column>
                        <p:column>
                           <p:outputLabel value="#{vehiculoEmpresa.estado ? 'Disponible' : 'Ocupado'}" style="background-color: #{vehiculoEmpresa.estado ? 'green' : 'red'};
                             color: white;
                             padding: 5px;" />
                        </p:column>

                        <p:column headerText="ITV">
                           <h:outputText value="#{vehiculosBean.determinarEstado(vehiculoEmpresa.itv.fechaValidez)}"
                                         style="background-color: #{vehiculosBean.determinarEstadoColor(vehiculoEmpresa.itv.fechaValidez)};
                                color: white;
                                padding: 5px;" />
                        </p:column>
                        <p:column>
                           <h:outputText value="#{vehiculoEmpresa.itv.fechaValidez}" />
                        </p:column>


                        <p:column headerText="PNC">
                           <h:outputText value="#{vehiculosBean.determinarEstado(vehiculoEmpresa.pnc.fechaValidez)}"
                                         style="background-color: #{vehiculosBean.determinarEstadoColor(vehiculoEmpresa.pnc.fechaValidez)};
                                color: white;
                                padding: 5px;" />
                        </p:column>
                        <p:column>
                           <h:outputText value="#{vehiculoEmpresa.pnc.fechaValidez}" />
                        </p:column>

                     </p:dataTable>
                  </p:dialog>
                  <p:commandButton
                          id="mostrarVehiculosEmpresa"
                          styleClass="rounded-button ui-button-primary"
                          icon="pi pi-plus"
                          onclick="PF('listaVehiculosEmpresa_#{empresa.nroEmpresa}').show();"
                  />
               </p:column>
            </p:dataTable>
         </h:form>
      </p:card>
   </f:view>
</h:body>
</html>
