<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
>

<h:head>
    <link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css"/>
    <f:event type="preRenderView" listener="#{login.verificarSesion('Cualquiera')}"></f:event>

    <title>CargaUY</title>
</h:head>
<h:body>
    <ui:include src="resources/templates/navbar.xhtml"></ui:include>
    <f:view>
        <p:card styleClass="flex justify-content-center">
            <h2 class="text-center">INFORMACIÓN DEL USUARIO</h2>
            <h:form id="form">
                <p:dataTable id="table"
                             var="usuario"
                             value="#{usuariosBean.selectUsu()}">

                    <p:column headerText="ID">
                        <h:outputText value="#{usuario.id}" />
                    </p:column>
                    <p:column headerText="CI">
                        <h:outputText value="#{usuario.ci}" />
                    </p:column>
                    <p:column headerText="Nombre">
                        <h:outputText value="#{usuario.nombre}" />
                    </p:column>
                    <p:column headerText="Apellido">
                        <h:outputText value="#{usuario.apellido}" />
                    </p:column>
                    <p:column headerText="Email">
                        <h:outputText value="#{usuario.email}" />
                    </p:column>
                    <p:column headerText="Tipo Usuario">
                        <h:outputText value="#{usuario.tipoUsuario}" />
                    </p:column>

                </p:dataTable>
            </h:form>
        </p:card>
    </f:view>
</h:body>
</html>
