<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css"/>
    <f:event type="preRenderView" listener="#{login.verificarSesion('Empleado')}"></f:event>

    <title>CargaUY</title>
    #{guiabean.initC()}
    #{guiabean.listarGE()}
    #{guiabean.initD()}
</h:head>
<h:body>
    <ui:include src="resources/templates/navbar.xhtml"></ui:include>
    <f:view>
    <p:card styleClass="flex justify-content-center">
        <h2 class="text-center">Gestion de Guias</h2>
        <h:form id="fore" prependId="false">
            <p:growl id="msg"/>
            <p:dataTable id="table"
                         var="tdp"
                         value="#{guiabean.guiasDTOS}"
                         editable="true">
                <p:ajax event="rowEdit" listener="#{guiabean.modificar}" update=":fore:msg :fore:table" oncomplete="handleComplete(xhr, status, args)"/>
                <p:ajax event="rowEditCancel" listener="#{guiabean.cancelar}" update=":fore:msg :fore:table" oncomplete="handleComplete(xhr, status, args)"/>

                <p:column headerText="Nro" sortBy="#{tdp.idGuia}">
                    <h:outputText value="#{tdp.idGuia}" />
                </p:column>
                <p:column headerText="Origen" sortBy="#{tdp.codigo}" filterBy="#{tdp.codigo}" filterMatchMode="contains">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{tdp.codigo}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{guiabean.codigo}" required="true" requiredMessage="El codigo es requerido"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Origen" sortBy="#{tdp.origen}">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{tdp.origen}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:selectOneMenu  value="#{guiabean.origen}" filter="true" filterMatchMode="contains">
                                <f:selectItem itemLabel="Elegir uno..." itemValue="" disabled="true" />
                                <f:selectItems value="#{guiabean.departamentos}" var="rub" itemLabel="#{rub}" itemValue="#{rub}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" required="true" requiredMessage="El Rubro es requerida"/>
                            </p:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Destino" sortBy="#{tdp.destino}">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{tdp.destino}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:selectOneMenu  value="#{guiabean.destino}" filter="true" filterMatchMode="contains">
                                <f:selectItem itemLabel="Elegir uno..." itemValue="" disabled="true" />
                                <f:selectItems value="#{guiabean.departamentos}" var="rub" itemLabel="#{rub}" itemValue="#{rub}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" required="true" requiredMessage="El Rubro es requerida"/>
                            </p:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Fecha inicio" sortBy="#{tdp.fechaInicio}">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{tdp.fechaInicio}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText type="date" value="#{guiabean.fechaI}" required="true" requiredMessage="La direccion es requerida"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Fecha fin" sortBy="#{tdp.fechaFin}">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{tdp.fechaFin}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText type="date" value="#{guiabean.fechaF}" required="true" requiredMessage="La direccion es requerida"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Volumen Carga (kg)" sortBy="#{tdp.volumen_carga}">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{tdp.volumen_carga}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{guiabean.tipodeCarga}"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Rubro">
                    <h:outputText value="#{tdp.rubro.nombre}"/>
                </p:column>
                <p:column headerText="Tipo">
                    <h:outputText value="#{tdp.tipoCarga.nombre}"/>
                </p:column>
                <p:column headerText="Viaje">
                    <h:outputText value="#{tdp.viaje.nombre}"/>
                </p:column>
                <p:column headerText="Datos Viaje">
                <p:dialog header="Viaje" widgetVar="viaje" modal="true" resizable="false">
                    <p:dataTable id="table_ciudadanos" value="#{tdp.viaje}" var="v" disabledSelection="true">
                        <p:column headerText="ID">
                            <p:outputLabel value="#{v.id}"/>
                        </p:column>
                        <p:column headerText="Nombre">
                            <p:outputLabel value="#{v.nombre}"/>
                        </p:column>
                        <p:column headerText="Chofer Nombre">
                            <p:outputLabel value="#{v.chofer.nombre}"/>
                        </p:column>
                        <p:column headerText="Apellido">
                            <p:outputLabel value="#{v.chofer.apellido}"/>
                        </p:column>
                        <p:column headerText="Vehiculo">
                            <p:outputLabel value="#{v.vehiculo.matricula}"/>
                        </p:column>
                        <p:column headerText="Marca">
                            <p:outputLabel value="#{v.vehiculo.marca}"/>
                        </p:column>
                        <p:column headerText="Capasidad">
                            <p:outputLabel value="#{v.vehiculo.capacidadCarga}"/>
                        </p:column>


                        <p:column exportable="false">
                            <p:commandButton
                                    id="desvincularUsuario"
                                    styleClass="rounded-button ui-button-danger"
                                    icon="pi pi-trash"
                                    process="@this"
                                    action="#{viajesBean.eliminarViaje(v.id)}"
                                    oncomplete="PF('viaje').hide();"
                            />
                        </p:column>
                    </p:dataTable>
                </p:dialog>
                <p:commandButton
                        id="Viaje"
                        styleClass="rounded-button ui-button-primary"
                        icon="pi pi-plus"
                        onclick="PF('viaje').show();"
                />
                </p:column>
                <p:column>
                    <p:rowEditor styleClass="rounded-button ui-button-danger" icon="pi pi-pencil"/>
                </p:column>

                <p:column exportable="false">
                    <p:commandButton styleClass="rounded-button ui-button-danger"
                                     icon="pi pi-trash"
                                     process="@this"
                                     action="#{guiabean.eliminarGuia(tdp.idGuia)}"
                                     update="table"
                    />
                </p:column>
            </p:dataTable>

    </h:form>
    </p:card>
        <script src="resources/templates/Swing.js"></script>

    </f:view>
</h:body>
</html>