<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jsp="http://java.sun.com/JSP/Page">
<h:head>
   <f:event type="preRenderView" listener="#{login.verificarSesion('Funcionario')}"></f:event>
   #{empresasBean.initLista()}
   #{usuariosBean.initListaG()}
   <link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css"/>
   <title>CargaUY</title>
</h:head>
<h:body>
   <ui:include src="resources/templates/navbar.xhtml"></ui:include>
   <f:view>
      <p:card styleClass="flex justify-content-center">
         <h2 class="text-center">GESTIÓN DE LAS EMPRESAS DE TRANSPORTE</h2>
         <h:form id="form">
            <p:dataTable id="table"
                         var="empresa"
                         value="#{empresasBean.list}">
               <p:column headerText="Nro">
                  <h:outputText value="#{empresa.nroEmpresa}" />
               </p:column>
               <p:column headerText="Razon Social">
                  <h:outputText value="#{empresa.razonSocial}" />
               </p:column>
               <p:column headerText="Nombre Publico">
                  <h:outputText value="#{empresa.nombrePublico}" />
               </p:column>
               <p:column headerText="Direccion">
                  <h:outputText value="#{empresa.direccion}" />
               </p:column>
               <p:column headerText="Vehiculos y Permisos">
                  <p:dialog header="Vehiculos" widgetVar="listaVehiculosEmpresa_#{empresa.nroEmpresa}" modal="true" resizable="false">
                     <p:dataTable paginator="true" rows="8" id="table_vehiculos" value="#{empresa.vehiculos}" var="vehiculoEmpresa" disabledSelection="true">
                        <p:column headerText="Matricula">
                           <p:outputLabel value="#{vehiculoEmpresa.matricula}"/>
                        </p:column>
                        <p:column headerText="Marca">
                           <p:outputLabel value="#{vehiculoEmpresa.marca}"/>
                        </p:column>
                        <p:column headerText="Modelo">
                           <p:outputLabel value="#{vehiculoEmpresa.modelo}"/>
                        </p:column>
                        <p:column headerText="Peso">
                           <p:outputLabel value="#{vehiculoEmpresa.peso}"/>
                        </p:column>
                        <p:column headerText="CapacidadCarga">
                           <p:outputLabel value="#{vehiculoEmpresa.capacidadCarga}"/>
                        </p:column>
                        <p:column>
                           <p:outputLabel value="#{vehiculoEmpresa.estado ? 'Disponible' : 'Ocupado'}" style="background-color: #{vehiculoEmpresa.estado ? 'green' : 'red'};
                             color: white;
                             padding: 5px;" />
                        </p:column>

                        <p:column headerText="ITV">
                           <p:dialog header="ITV" widgetVar="ITV_#{vehiculoEmpresa.matricula}" resizable="false">
                              <p:dataTable id="table_ITV" value="#{vehiculoEmpresa.itv}" var="i" disabledSelection="true">
                                 <p:column>
                                    <h:outputText value="#{i.idITV}" />
                                 </p:column>
                                 <p:column headerText="ITV">
                                    <h:outputText value="#{vehiculosBean.determinarEstado(i.fechaValidez)}"
                                                  style="background-color: #{vehiculosBean.determinarEstadoColor(i.fechaValidez)};
                                color: white;
                                padding: 5px;" />
                                 </p:column>
                                 <p:column>
                                    <h:outputText value="#{i.fechaValidez}" />
                                 </p:column>
                              </p:dataTable>
                           </p:dialog>
                           <p:commandButton
                                   id="ITV"
                                   styleClass="rounded-button ui-button-primary"
                                   icon="pi pi-plus"
                                   onclick="PF('ITV_#{vehiculoEmpresa.matricula}').show();"
                           />
                        </p:column>

                        <p:column headerText="PNC">
                           <p:dialog header="PNC" widgetVar="PNC_#{vehiculoEmpresa.matricula}" resizable="false">

                              <p:dataTable id="table_PNC" value="#{vehiculoEmpresa.pnc}" var="p" disabledSelection="true">
                                 <p:column>
                                    <h:outputText value="#{p.idPNC}" />
                                 </p:column>
                                 <p:column headerText="PNC">
                                    <h:outputText value="#{vehiculosBean.determinarEstado(p.fechaValidez)}"
                                                  style="background-color: #{vehiculosBean.determinarEstadoColor(p.fechaValidez)};
                                color: white;
                                padding: 5px;" />
                                 </p:column>
                                 <p:column>
                                    <h:outputText value="#{p.fechaValidez}" />
                                 </p:column>
                              </p:dataTable>
                           </p:dialog>
                           <p:commandButton
                                   id="PNC"
                                   styleClass="rounded-button ui-button-primary"
                                   icon="pi pi-plus"
                                   onclick="PF('PNC_#{vehiculoEmpresa.matricula}').show();"
                           />
                        </p:column>
                        <p:column exportable="false">
                           <p:commandButton
                                   id="borrarchofer"
                                   styleClass="rounded-button ui-button-danger"
                                   icon="pi pi-trash"
                                   process="@this"
                                   action="#{vehiculosBean.eliminarVehiculo(vehiculoEmpresa.matricula)}"
                                   update="table_vehiculos"
                           />
                        </p:column>
                     </p:dataTable>
                  </p:dialog>
                  <p:commandButton
                          id="mostrarVehiculosEmpresa"
                          styleClass="rounded-button ui-button-primary"
                          icon="pi pi-plus"
                          onclick="PF('listaVehiculosEmpresa_#{empresa.nroEmpresa}').show();"
                  />
               </p:column>
               <p:column headerText="Ciudadanos">
               <p:dialog header="Ciudadanos" widgetVar="listaCiudadanosEmpresa_#{empresa.nroEmpresa}" modal="true" resizable="false">
                  <p:dataTable paginator="true" rows="8" id="table_ciudadanos" value="#{empresa.ciudadanos}" var="ciudadanoEmpresa" disabledSelection="true">
                     <p:column headerText="ID">
                        <p:outputLabel value="#{ciudadanoEmpresa.id}"/>
                     </p:column>
                     <p:column headerText="CI">
                        <p:outputLabel value="#{ciudadanoEmpresa.ci}"/>
                     </p:column>
                     <p:column headerText="Nombre">
                        <p:outputLabel value="#{ciudadanoEmpresa.nombre}"/>
                     </p:column>
                     <p:column headerText="Apellido">
                        <p:outputLabel value="#{ciudadanoEmpresa.apellido}"/>
                     </p:column>
                     <p:column headerText="Email">
                        <p:outputLabel value="#{ciudadanoEmpresa.email}"/>
                     </p:column>
                     <p:column exportable="false">
                        <p:commandButton
                                id="desvincularUsuario"
                                styleClass="rounded-button ui-button-secondary"
                                icon="pi pi-user-minus"
                                process="@this"
                                actionListener="#{empresasBean.setNroEmpresa(empresa.nroEmpresa)}"
                                action="#{empresasBean.desvincularCiudadano(ciudadanoEmpresa.id)}"
                                oncomplete="location.reload()"
                        />
                     </p:column>
                  </p:dataTable>
               </p:dialog>
                  <p:commandButton
                          id="mostrarCiudadanosEmpresa"
                          styleClass="rounded-button ui-button-primary"
                          icon="pi pi-plus"
                          onclick="PF('listaCiudadanosEmpresa_#{empresa.nroEmpresa}').show();"
                  />
               </p:column>
               <p:column exportable="false">
                  <p:commandButton styleClass="rounded-button ui-button-success"
                                   icon="pi pi-pencil"
                                   process="@this"
                                   action="#{empresasBean.setNroEmpresa(empresa.nroEmpresa)}"
                                   onclick="PF('modificarEmpresa').show();"
                  />
                  <p:dialog header="Modificar" widgetVar="modificarEmpresa" modal="true" resizable="false">// aca ahi mejunje
                     <div class="w-fit m-auto mb-4">
                        <div class="field grid">
                           <h:outputLabel for="razonsocial" class="col-12 mb-2 md:col-4 md:mb-0">Razon Social</h:outputLabel>
                           <span class="ui-float-label">
                               <p:inputText id="razonsocial" value="#{empresasBean.razonSocial}" defaultValue="#{empresa.razonSocial}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                               <p:outputLabel for="@previous" value="#{empresa.razonSocial}"/>
                           </span>
                           <!--                           <div class="col-12 md:col-8">
                                                         <h:inputText id="razonsocial" value="#{empresasBean.razonSocial}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                                                      </div>-->
                        </div>
                        <div class="field grid">
                           <h:outputLabel for="nombrepublico" class="col-12 mb-2 md:col-4 md:mb-0">Nombre Publico</h:outputLabel>
                           <span class="ui-float-label">
                                  <p:inputText id="nombrepublico" value="#{empresasBean.nombrePublico}" defaultValue="#{empresa.nombrePublico}"/>
                                  <p:outputLabel for="@previous" value="#{empresa.nombrePublico}"/>
                              </span>
                           <!--<div class="col-12 md:col-8">
                              <h:inputText id="nombrepublico" value="#{empresasBean.nombrePublico}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                           </div>-->
                        </div>
                        <div class="field grid">
                           <h:outputLabel for="direccion" class="col-12 mb-2 md:col-4 md:mb-0">Direccion</h:outputLabel>
                           <span class="ui-float-label">
                               <p:inputText id="direccion" value="#{empresasBean.direccion}" defaultValue="#{empresa.direccion}"/>
                               <p:outputLabel for="@previous" value="#{empresa.direccion}"/>
                           </span>
                           <!--<div class="col-12 md:col-8">
                               <h:inputText id="direccion" value="#{empresasBean.direccion}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                            </div>-->
                        </div>
                        <div class="text-right">
                           <p:commandButton value="Confirmar" action="#{empresasBean.modificarEmpresa()}" oncomplete="PF('modificarEmpresa').hide; location.reload();" class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700"/>
                        </div>
                     </div>
                  </p:dialog>
               </p:column>
               <p:column exportable="false">
                  <p:commandButton
                          id="asignaCiudadano"
                          value="Asignar Ciudadano"
                          styleClass="button ui-button-success"
                          icon="pi pi-user-plus"
                          process="@this"
                          action="#{empresasBean.setNroEmpresa(empresa.nroEmpresa)}"
                          onclick="PF('listaCiudadanos_#{empresa.nroEmpresa}').show();"
                  />
                  <p:dialog header="Ciudadanos" widgetVar="listaCiudadanos_#{empresa.nroEmpresa}" modal="true" resizable="false">
                     <p:dataTable paginator="true" rows="8" value="#{usuariosBean.list}" var="ciudadanoDTO" rowKey="#{ciudadanoDTO.id}" selection="#{empresasBean.ciudadanoSeleccionado}" disabledSelection="true" editable="true">
                        <!--<p:ajax event="rowSelect" listener="#{empresasBean.asignarCiudadano}" oncomplete="PF('listaCiudadanos_#{empresa.nroEmpresa}').hide(); location.reload();"/>-->
                        <p:ajax event="rowEdit" listener="#{empresasBean.asignarCiudadano}"  oncomplete="PF('listaCiudadanos_#{empresa.nroEmpresa}').hide();location.reload();"/>
                        <p:ajax event="rowEditCancel" listener="#{empresasBean.cancelar}"  oncomplete="PF('listaCiudadanos_#{empresa.nroEmpresa}').hide();"/>

                        <p:column headerText="ID">
                           <p:outputLabel value="#{ciudadanoDTO.id}"/>
                        </p:column>
                        <p:column headerText="CI">
                           <p:outputLabel value="#{ciudadanoDTO.ci}"/>
                        </p:column>
                        <p:column headerText="NOMBRE">
                           <p:outputLabel value="#{ciudadanoDTO.nombre}"/>
                        </p:column>
                        <p:column>
                           <p:cellEditor>
                              <f:facet name="output">
                                 <p:outputLabel value=""/>
                              </f:facet>
                              <f:facet name="input">
                                 <p:selectOneMenu  value="#{empresasBean.tipU}" filter="true" filterMatchMode="contains">
                                    <f:selectItem itemLabel="Elegir uno..." itemValue="" disabled="true" />
                                    <f:selectItems value="#{empresasBean.tipoUA}" var="rub" itemLabel="#{rub}" itemValue="#{rub}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" required="true" requiredMessage="El Tipo es requerida"/>
                                 </p:selectOneMenu>
                              </f:facet>
                           </p:cellEditor>
                        </p:column>
                        <p:column>
                           <p:rowEditor styleClass="rounded-button ui-button-danger" icon="pi pi-pencil"/>
                        </p:column>

                     </p:dataTable>
                  </p:dialog>
               </p:column>
               <p:column exportable="false">
               <p:commandButton styleClass="rounded-button ui-button-danger"
                                icon="pi pi-trash"
                                process="@this"
                                action="#{empresasBean.eliminarEmpresa(empresa.nroEmpresa)}"
                                update="table"
               />
            </p:column>
            </p:dataTable>
         </h:form>
      </p:card>
   </f:view>
</h:body>
</html>
