<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Iniciar Sesión</title>
        <link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css"/>
        <link rel="stylesheet" type="text/css" href="loginUsuario.css" />
        <title>CargaUY</title>
        <style type="text/css">
            .hidden {
                display: none;
            }
        </style>
        <script type="text/javascript">
            function toggleSecretVisibility() {
                var secretInput = document.getElementById("pass");
                var showSecretCheckbox = document.getElementById("showSecret");

                if (showSecretCheckbox.checked) {
                    secretInput.classList.add("hidden");
                    secretInput.type = "text";
                } else {
                    secretInput.classList.remove("hidden");
                    secretInput.type = "password";
                }
            }
        </script>
    </h:head>
    <h:body>
        <ui:include src="resources/templates/navbar.xhtml"></ui:include>
        <f:view>
            <p:card styleClass="flex justify-content-center">
                <h2 class="text-center">INICIAR SESIÓN</h2>
                <h:form>
                    <p:growl>
                        <p:autoUpdate />
                    </p:growl>
                    <div class="w-fit m-auto mb-4">
                        <div class="field grid">
                            <h:outputLabel for="ci" class="col-12 mb-2 md:col-4 md:mb-0">CI</h:outputLabel>
                            <div class="col-12 md:col-8">
                                <h:inputText id="ci" value="#{login.ci}" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" required="true" requiredMessage="Ingrese su cedula sin puntos ni guiones"/>
                            </div>
                        </div>
                        <div class="field grid">
                            <h:outputLabel for="pass" class="col-12 mb-2 md:col-4 md:mb-0">Contraseña</h:outputLabel>
                            <div class="col-12 md:col-8">
                                <h:inputSecret id="pass" value="#{login.pass}" redisplay="true" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" required="true" requiredMessage="Ingrese una contraseña"/>
                                <label>
                                    <input type="checkbox" id="showSecret" onchange="toggleSecretVisibility()"/>
                                    Mostrar contraseña
                                </label>
                            </div>
                        </div>
                        <div class="text-right">
                            <p:commandButton value="Iniciar Sesión" action="#{login.iniciarSesion()}" class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700"/>
                        </div>
                    </div>
                </h:form>
            </p:card>
        </f:view>
    </h:body>
</html>
