<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css"/>
    <f:event type="preRenderView" listener="#{login.verificarSesion('Empleado')}"></f:event>

    <title>CargaUY</title>
    #{vehiculosBean.initVehiculosVE()}

</h:head>
<h:body>
    <ui:include src="resources/templates/navbar.xhtml"></ui:include>
    <f:view>
    <p:card styleClass="flex justify-content-center">
        <h2 class="text-center">Gestion de Vehiculo</h2>
        <h:form id="fore" prependId="false">
            <p:growl id="msg"/>
            <p:dataTable paginator="true" rows="8" id="table_vehiculos" value="#{vehiculosBean.list}" var="vehiculoEmpresa" disabledSelection="true"  editable="true">

                <p:ajax event="rowEdit" listener="#{vehiculosBean.modificarVehiculo}" update=":fore:msg :fore:table_vehiculos" oncomplete="handleComplete(xhr, status, args)"/>
                <p:ajax event="rowEditCancel" listener="#{guiabean.cancelar}" update=":fore:msg :fore:table_vehiculos" oncomplete="handleComplete(xhr, status, args)"/>


                <p:column headerText="Matricula">
                    <p:outputLabel value="#{vehiculoEmpresa.matricula}"/>
                </p:column>

                <p:column headerText="Marca">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{vehiculoEmpresa.marca}" />
                        </f:facet>
                        <f:facet name="input">
                               <p:inputText value="#{vehiculosBean.marca}"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Modelo">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{vehiculoEmpresa.modelo}" />
                        </f:facet>
                        <f:facet name="input">
                               <p:inputText value="#{vehiculosBean.modelo}"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Peso">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{vehiculoEmpresa.peso}" />
                        </f:facet>
                        <f:facet name="input">
                               <p:inputText value="#{vehiculosBean.peso}"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Capacidad de Carga">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{vehiculoEmpresa.capacidadCarga}" />
                        </f:facet>
                        <f:facet name="input">
                            <span class="ui-float-label">
                               <p:inputText  value="#{vehiculosBean.capacidadCarga}"/>
                           </span>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <!--<p:column headerText="Disponible">
                    <p:cellEditor>
                        <f:facet name="output">
                            <p:outputLabel value="#{vehiculoEmpresa.estado ? 'Disponible' : 'Ocupado'}" style="background-color: #{vehiculoEmpresa.estado ? 'green' : 'red'};
                             color: white;
                             padding: 5px;" />
                        </f:facet>
                        <f:facet name="input">
                            <span class="ui-float-label">
                               <p:inputText value="#{vehiculosBean.estado}"/>
                           </span>
                        </f:facet>
                    </p:cellEditor>
                </p:column>-->
                <p:column>
                    <p:outputLabel value="#{vehiculoEmpresa.estado ? 'Disponible' : 'Ocupado'}" style="background-color: #{vehiculoEmpresa.estado ? 'green' : 'red'};
                             color: white;
                             padding: 5px;" />
                </p:column>

                <p:column headerText="ITV">
                    <p:dialog header="ITV" widgetVar="ITV_#{vehiculoEmpresa.matricula}" modal="true" resizable="false">
                    <p:dataTable id="table_ITV" value="#{vehiculoEmpresa.itv}" var="i" disabledSelection="true">
                            <p:column>
                                <h:outputText value="#{i.idITV}" />
                            </p:column>
                            <p:column headerText="ITV">
                                <h:outputText value="#{vehiculosBean.determinarEstado(i.fechaValidez)}"
                                              style="background-color: #{vehiculosBean.determinarEstadoColor(i.fechaValidez)};
                                color: white;
                                padding: 5px;" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{i.fechaValidez}" />
                            </p:column>
                        </p:dataTable>
                    </p:dialog>
                    <p:commandButton
                            id="ITV"
                            styleClass="rounded-button ui-button-primary"
                            icon="pi pi-plus"
                            onclick="PF('ITV_#{vehiculoEmpresa.matricula}').show();"
                    />
                </p:column>

                <p:column headerText="PNC">
                    <p:dialog header="PNC" widgetVar="PNC_#{vehiculoEmpresa.matricula}" modal="true" resizable="false">

                    <p:dataTable id="table_PNC" value="#{vehiculoEmpresa.pnc}" var="p" disabledSelection="true">
                            <p:column>
                                <h:outputText value="#{p.idPNC}" />
                            </p:column>
                            <p:column headerText="PNC">
                                <h:outputText value="#{vehiculosBean.determinarEstado(p.fechaValidez)}"
                                style="background-color: #{vehiculosBean.determinarEstadoColor(p.fechaValidez)};
                                color: white;
                                padding: 5px;" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{p.fechaValidez}" />
                            </p:column>
                        </p:dataTable>
                    </p:dialog>
                    <p:commandButton
                            id="PNC"
                            styleClass="rounded-button ui-button-primary"
                            icon="pi pi-plus"
                            onclick="PF('PNC_#{vehiculoEmpresa.matricula}').show();"
                    />
                </p:column>
                <p:column>
                    <p:rowEditor styleClass="rounded-button ui-button-danger" icon="pi pi-pencil"/>
                </p:column>
                <p:column exportable="false">
                    <p:commandButton
                            id="borrarchofer"
                            styleClass="rounded-button ui-button-danger"
                            icon="pi pi-trash"
                            process="@this"
                            action="#{vehiculosBean.eliminarVehiculo(vehiculoEmpresa.matricula)}"
                            update="table_vehiculos"
                    />
                </p:column>
            </p:dataTable>

    </h:form>
    </p:card>
        <script src="resources/templates/Swing.js"></script>

    </f:view>
</h:body>
</html>