<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<script type="application/javascript">
   function login() {
      if (true){
         document.getElementById('loginForm:pass').type = 'text';
         document.getElementById('loginForm:show').style.display = 'none';
         document.getElementById('loginForm:hide').style.display = 'inline';
         document.getElementById('loginForm:show').chequed = 'false';
         document.getElementById('loginForm:hide').chequed = 'true';
      } else {
         document.getElementById('loginForm:pass').type = 'password';
         document.getElementById('loginForm:show').style.display = 'inline';
         document.getElementById('loginForm:hide').style.display = 'none';
         document.getElementById('loginForm:show').chequed = 'true';
         document.getElementById('loginForm:hide').chequed = 'false';
      }
   }

   function changeCursor(obj, cursorStyle) {
      obj.style.cursor = cursorStyle;
   }

   function verificarSesion(){
      if(getSessionMap().get("ci") != null){

      }
   }

</script>

<body>
   <ui:composition xmlns="http://www.w3.org/1999/xhtml"
                   xmlns:ui="http://java.sun.com/jsf/facelets"
                   xmlns:p="http://primefaces.org/ui"
                  >
      <p:menubar>
         <p:menuitem value="Inicio" icon="pi pi-home" url="index.xhtml"/>
         <p:submenu label="Informacion" icon="pi pi-book">
            <p:menuitem value="Empresas y Permisos" icon="pi pi-car" url="listarEmpresasP.xhtml"/>
         </p:submenu>

         <p:submenu label="Crear" icon="pi pi-plus" rendered="#{login.tipoU eq 'EMPLEADO'}"> <!--despues se agrega funcionario como opcion aca-->
            <p:menuitem value="Vehiculo" icon="pi pi-car" url="agregarVehiculo.xhtml" rendered="#{login.tipoU eq 'EMPLEADO'}"/>
            <p:menuitem value="Viaje" icon="pi pi-map" url="altaViaje.xhtml" rendered="#{login.tipoU eq 'EMPLEADO'}"/>
            <p:menuitem value="Guia" icon="pi pi-map" url="altaGuia.xhtml" rendered="#{login.tipoU eq 'EMPLEADO'}"/>
            <p:menuitem value="ITV" icon="pi pi-tag" url="agregarITV.xhtml" rendered="#{login.tipoU eq 'EMPLEADO'}"/>
            <p:menuitem value="PNC" icon="pi pi-tag" url="agregarPNC.xhtml" rendered="#{login.tipoU eq 'EMPLEADO'}"/>
         </p:submenu>
         <p:submenu label="Gestion" icon="pi pi-book" rendered="#{login.tipoU eq 'EMPLEADO' || login.tipoU eq 'FUNCIONARIO'}">
            <p:menuitem value="Empresas" icon="pi pi-building" url="empresasEmpleados.xhtml" rendered="#{login.tipoU eq 'EMPLEADO'}"/>
            <p:menuitem value="Guias y Viaje" icon="pi pi-building" url="listarGuia.xhtml" rendered="#{login.tipoU eq 'EMPLEADO'}"/>
            <p:menuitem value="Vehiculos" icon="pi pi-building" url="vehiculosEmpresa.xhtml" rendered="#{login.tipoU eq 'EMPLEADO'}"/>
            <p:menuitem value="Vehiculos" icon="pi pi-building" url="listarEmpresasF.xhtml" rendered="#{login.tipoU eq 'FUNCIONARIO'}"/>

         </p:submenu>
         <p:submenu label="Permisos" icon="pi pi-paperclip" rendered="#{login.tipoU eq 'FUNCIONARIO'}">
            <p:menuitem value="Empresas" icon="pi pi-info" url="fiscalisacion.xhtml"/>
         </p:submenu>
         <!--<p:menuitem value="Cerrar Sesion" icon="pi pi-sign-out"/>-->
         <f:facet name="options">
            <p:commandButton type="button" value="Perfil" rendered="#{login.isLoggedIn()}" icon="pi pi-user" style="margin-right: 10px" styleClass="ui-button-secondary" onclick="window.location.href = 'infoUsuario.xhtml';"/>

            <p:commandButton value="Iniciar sesión" rendered="#{not login.isLoggedIn()}" onclick="window.location.href = 'loginUsuario.xhtml';"/>
            <p:commandButton value="Cerrar sesión" rendered="#{login.isLoggedIn()}" action="#{login.cerrarSesion()}" />
            <p:commandButton value="Registrarse" rendered="#{not login.isLoggedIn()}" onclick="window.location.href = 'agregarUsuario.xhtml';"/>
         </f:facet>
      </p:menubar>
   </ui:composition>
</body>
</html>
